<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Project</title>
</head>
<body>
    <h1>Test Project</h1>
    <p>we are practicing working with dependencies and package.json!</p>
    <p>to create a project with the same dependencies...</p>
    <ul>
        <li>create the new project directory</li>
        <li>in the terminal, navigate to project directory: npm init -y</li>
        <li>copy dependencies to the new package.json</li>
        <li>in the terminal: npm install</li>
    </ul>
</body>
</html>